# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

node_modules
dist
dist-ssr
*.local

# Editor directories and files
.vscode/*
!.vscode/extensions.json
.idea
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

# SQLite Databases
data/*.db
data/patents.db


# Python cache
__pycache__/
**/__pycache__/
*.py[cod]
*.pyo
dataset/g_cpc_title.tsv/
dataset/g_inventor_disambiguated.tsv/
dataset/g_patent.tsv/
dataset/4_Research projects start date 2021 onwards.csv

dataset/
data/
